name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y \
          zip unzip openjdk-17-jdk \
          build-essential ccache \
          libffi-dev libssl-dev \
          zlib1g-dev

    - name: Install Python deps
      run: |
        python -m pip install --upgrade pip
        pip install cython buildozer

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: GeneralVIP-APK
        path: bin/*.apk
