- name: Install Android SDK packages (FORCE AIDL)
      run: |
        yes | sdkmanager --licenses
        sdkmanager "platform-tools"
        sdkmanager "platforms;android-33"
        sdkmanager "build-tools;33.0.2"

        echo "ANDROID_SDK_ROOT=$ANDROID_SDK_ROOT"
        ls $ANDROID_SDK_ROOT/build-tools/33.0.2/
